<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jucklim.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="canvas_container" id="canvas_frame"></div>

    <script type="module" src="/javascripts/jucklim.js"></script>
  </body>
</html>